html, body, #root {
  height: 100%;
}

body {
  background-color: #f5f7f3;
}
.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px;
    background-color: #dde1dd;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style for the individual settings */
.setting-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 11px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    gap: 50px;
}

.setting-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: #131313;
}

.setting-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

.button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-section input[type="submit"],
.button-section .MuiButton-root {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-section input[type="submit"]:hover,
.button-section .MuiButton-root:hover {
  background-color: #0056b3;
}

.button-section .MuiButton-root:nth-child(2) {
  background-color: #28a745;
}

.button-section .MuiButton-root:nth-child(2):hover {
  background-color: #218838;
}

.button-section .MuiButton-root:nth-child(3) {
  background-color: #dc3545;
}

.button-section .MuiButton-root:nth-child(3):hover {
  background-color: #c82333;
}
